*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.feedback{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #243a55;
    width: 100%px;
    max-width: 700px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    transition: all 0.1s ease-out;

}
.feedback:hover{
    border: 2px solid #f59e0b;
}
h1{
    color: #d0dceb;
    border-left: none;
}
form{
 display: flex;
 flex-direction: column;
 padding: 10px;
 border-radius: 10px;
 color: #f3f5f7 ;
 width: 45%;
 height: 500px;
 gap: 10px;
 margin-left: 10px;
 margin-top: 20px;
 border-left: 5px solid  #f59e0b;
}
input{
    padding: 5px;
    height: 50px;
    border-radius: 10px;
    width: 100%;
   max-width: 600px;
    

margin-left: 2px;
}
label{
    color:  #d0dceb;
}
textarea{
    border-radius: 10px;
    border-right: px solid #f59e0b;
    font-size: 16px;
    padding: 5px;
    max-width: 300px;
    height: 70px;
    
}

.payment-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 2rem;
  margin-top: 50px;
  border-left:none ;
}
.payment-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #1f3958;
  margin-bottom: 20px;
}
.btn{
    background-color: #f3f5f7;
    padding: 10px;
    border-radius: 10px;
    height: 65px;
    border-left: 5px solid #f59e0b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease ;
    
}
.btn:hover{
    border: 2px solid #f59e0b;
}

button{
    color: #1f3958;
    font-size: 25px;
    font-weight: 700;
}
.rcontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0px;
}
.contact{
    background-color: #d7e5f1;
    border-radius: 30px;
    margin-left: 40px;
    height: 400px;
    transition: all 0.1s ease-in-out;
    
}
.contact:hover{
    border: 2px solid #f59e0b;
}
.ctitle{
    background-color: #f3f5f7;
    position: relative;
    top: -80px;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    position: relative;
    top: -20px;
   

}
.our-contacts{
    background-color: #b6cbe6;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: -0px;
    height: 80px;

}
.icons{
 font-size: 40px;
 color: #1f3958;
 background-color: #d0dceb;
 padding: 10px;
 border-radius: 100px;
}
.our-contacts a{
    text-decoration:  none;
    color: #1f3958;
    font-size: 18px;
    display: flex;
    position: relative;
    transform: translateY(-130%);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;

}
